{%extends 'base.html' %}
{% block head %}
  <h1>Connected machines</h1>
{% endblock %}
{% block body %}
<table class="table table-striped table-light">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Gpu</th>
        <th scope="col">IP</th>
        <th scope="col">Task</th>
        <th scope="col">Last update</th>
      </tr>
    </thead>
    <tbody>
    {% for machine in machines %}
    <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>{{ machine.gpu }}</td>
        <td>{{ machine.ip }}</td>
        <td>{{ machine.task }}</td>
        <td>{{ machine.last_task }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
